.backDrop {
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-width: .5px;
    margin-top: 25px;
    padding-bottom: 25px;
    background-image: linear-gradient(rgba(164, 226, 250, 0.381), rgb(122, 182, 206));
    font-weight: bold;
    color: rgb(23, 66, 127);
}
.logoMain {
    height: 300px;
    width: auto;
    margin: 20px;
    border: 2px outset rgb(23, 66, 127);
}

.cardName {
    font-size: 29px;
    margin: 20px;
}

.svgImage {
    height: 30px;
    width: auto;
    margin: 25px;
    box-shadow: 3px 3px 3px rgb(23, 66, 127);
}