body {
    background-image: linear-gradient(to bottom, bisque, white);
}

body img {
    width: 100%;
    display: flex;
}

.main-para{
    background-color: floralwhite;
}

/*.head-banner {
    position: relative;
} */

#main-header {
   /* position: absolute;
    top: 125px;
    left: 50px; */
    padding: 225px;

    color: brown;
}

/* .col-5 img {
    box-shadow: 5px 5px 5px rgb(118, 58, 34);
} */

a:active {
    color: brown;
}

.navbar {
    color: rgb(137, 80, 32);
    box-shadow:3px 3px 3px rgb(205, 152, 109);
}

