body {
    background:linear-gradient(to bottom, rgb(228, 192, 163), rgb(248, 239, 220));
    background-size: 100%;
}

/*body img {
    width: 100%;
    display: flex;
} */

.main-para{
    color: #F9DBBD;
    background-color: #DA627D;
}

/*.head-banner {
    position: relative;
} */

#main-header {
   /* position: absolute;
    top: 125px;
    left: 50px; */
    padding: 225px;

    color: floralwhite;
}

/* .col-5 img {
    box-shadow: 5px 5px 5px rgb(118, 58, 34);
} */

a:active {
    color: brown;
}

.navbar {
    color: rgb(137, 80, 32);
}

