@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Pacifico&display=swap');

body {
    background-color: white;
    background-size: 100%;
}

body img {
    width: 100%;
    display: flex;
}

#top-nav {
    background-color: #2D3142;
}

#navbarNavAltMarkup {
    color: #BFC0C0;
}

#top-nav:hover {
    color: #9A348E;
}

#main-header {
    text-align: center;
}

.main-para{
    color: #BFC0C0;
    background-color: #4F5D75;
}

#image-block {
    color: #4F5D75;
    background-color: #BFC0C0;
}
/*.head-banner {
    position: relative;
} */

.head-title {
   /* position: absolute;
    top: 125px;
    left: 50px; */
    font-family: 'Londrina Sketch', Arial, Helvetica, sans-serif;
    font-size: 75px;
    padding: 200px;
    color: #0D0628;
}

/* .col-5 img {
    box-shadow: 5px 5px 5px rgb(118, 58, 34);
} */

a {
    color: #EF835A;
}
 a:hover {
    color: #FFFFFF;
}

.nav-link, .navbar-brand, .nav-home {
    color: #BFC0C0;
}

.nav-link:hover, .navbar-brand:hover, .nav-home:hover {
    color: #EF835A;
}

.nav-link:active, .navbar-brand:active, .nav-home:active {
    color: #FFFFFF;
}


