@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Pacifico&display=swap');

body {
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
}

body img {
    width: 100%;
    display: flex;
}

#top-nav {
    color: #0D0628;
}

#top-nav:hover {
    color: #9A348E;
}

.main-para{
    color: #2D3142;
    background-color: #DA627D;
}

/*.head-banner {
    position: relative;
} */

.head-title {
   /* position: absolute;
    top: 125px;
    left: 50px; */
    font-family: 'Londrina Sketch', Arial, Helvetica, sans-serif;
    font-size: 100px;
    padding: 225px;
    color: #0D0628;
}

/* .col-5 img {
    box-shadow: 5px 5px 5px rgb(118, 58, 34);
} */

a {
    color: #FCA17D;
}
 a:hover {
    color: #F9DBBD;
 }


